# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/install-state.gz
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml

# build output
/build/
/out/
/dist/

# Remix
/.cache

# TypeScript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# environment variables
.env
.env.*
!.env.example

# coverage
/coverage

# OS
.DS_Store
Thumbs.db
Desktop.ini

# editors
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# misc
trademark.pdf
supabase/.temp/
